@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sign Up Now</h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">
            <div class="student-image">

            </div>
        </a>
    </div>

    <div class="col-md-4">
        <h2>Our Instructors</h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Instructors" asp-action="Index">
            <div class="instructor-image">

            </div>
        </a>
    </div> 
        <div class="col-md-4">
            <h2>View Our Courses</h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">
                <div class="course-image">

                </div>
            </a>
        </div>
</div>